<a href="https://colab.research.google.com/github/Fprietod/ALL_SIGNAL/blob/master/Manipulacion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from datetime import date

In [ ]:
halo = pd.read_csv('/content/movies_new.csv')
halo_2 = pd.read_csv('/content/movies_old.csv')

In [ ]:
today = date.today()
print("Today's date:", today)

Today's date: 2022-12-07

In [ ]:
# Code
DataFrame.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False, validate=None)[source]

In [ ]:
halo.head()
halo_2.head()

,ID_PELICULA,TX_PELICULA,CV_CLASIFICACION,FECHA_CREACION
0,3423,PERSIGUIENDO UN SUEÑO SUB,A,2021-05-25
1,3502,PERSIGUIENDO UN SUEÑO DOB,A,2021-05-25
2,5814,VICKY CRISTINA BARCELONA UN LIO AMOROSO,B15,2021-05-25
3,5835,BOLT: UN PERRO FUERA DE DIG 3D,A,2021-05-25
4,5833,BOLT: UN PERRO FUERA DE SERIE DOB,A,2021-05-25

In [ ]:
halo.tail()

     ID_PELICULA                TX_PELICULA CV_CLASIFICACION
130         5611                 LA DUQUESA              B15
131         5612          CHE  EL ARGENTINO                A
132         5851  PERSIGUIENDO UN SUEÑO DOB                A
133         5866            MARLEY Y YO SUB                A
134         5637       ORIGINALMENTE PIRATA                A

In [ ]:
halo['FECHA_CREACION'] = today

In [ ]:
halo.tail()

     ID_PELICULA                TX_PELICULA CV_CLASIFICACION FECHA_CREACION
130         5611                 LA DUQUESA              B15     2022-12-07
131         5612          CHE  EL ARGENTINO                A     2022-12-07
132         5851  PERSIGUIENDO UN SUEÑO DOB                A     2022-12-07
133         5866            MARLEY Y YO SUB                A     2022-12-07
134         5637       ORIGINALMENTE PIRATA                A     2022-12-07

In [ ]:
ejemplo =halo.set_index('ID_PELICULA').join(halo_2.set_index('ID_PELICULA'),how='left',lsuffix='_t', rsuffix='_x')

In [ ]:
ejemplo.drop('CV_CLASIFICACION_x', axis=1, inplace=True)

In [ ]:
ejemplo.drop('TX_PELICULA_x', axis=1, inplace=True)

In [ ]:
ejemplo.tail()

,TX_PELICULA_t,CV_CLASIFICACION_t,FECHA_CREACION
ID_PELICULA,,,
36451,SIN SEÑAS PARTICULARES LED ESP,B15,NaN
36556,LA VISITA ESP,B15,NaN
36580,TERRITORIO SP ESP,B15,NaN
36629,SPACE JAM: UNA NUEVA ERA LED ESP,A,NaN
36650,LITTLE GIRL SUB,A,NaN

In [ ]:
ejemplo["FECHA_CREACION"].fillna(today, inplace = True)

In [ ]:
ejemplo.to_csv("PUTOOOOS.csv")

In [ ]:
halo.to_csv('Hola.csv')

In [ ]:
halo['CV_CLASIFICACION'] = halo['CV_CLASIFICACION'].apply(lambda x : today if x == 'A' else 'Adios')
halo

     ID_PELICULA                       TX_PELICULA CV_CLASIFICACION
0          36580                 TERRITORIO SP ESP            Adios
1          36650                   LITTLE GIRL SUB       2022-12-07
2          36629  SPACE JAM: UNA NUEVA ERA LED ESP       2022-12-07
3          36556                     LA VISITA ESP            Adios
4          36450     SIN SEÑAS PARTICULARES SP ESP            Adios
..           ...                               ...              ...
130         5611                        LA DUQUESA            Adios
131         5612                 CHE  EL ARGENTINO       2022-12-07
132         5851         PERSIGUIENDO UN SUEÑO DOB       2022-12-07
133         5866                   MARLEY Y YO SUB       2022-12-07
134         5637              ORIGINALMENTE PIRATA       2022-12-07

[135 rows x 3 columns]

In [ ]:
ejemplo.head()

,TX_PELICULA_t,CV_CLASIFICACION_t,FECHA_CREACION
ID_PELICULA,,,
3423,PERSIGUIENDO UN SUEÑO SUB,A,2021-05-25
3502,PERSIGUIENDO UN SUEÑO DOB,A,2021-05-25
3600,MORTAL KOMBAT 4DX/SCREENX/2D ESP,TBC,2021-05-25
3858,PERSIGUIENDO UN SUEÑO,A,2021-05-25
3873,EL JUEGO DEL MIEDO 3,C,2021-05-25

In [ ]:
ejemplo[ejemplo['FECHA_CREACION'].isna()]

,TX_PELICULA_t,CV_CLASIFICACION_t,FECHA_CREACION
ID_PELICULA,,,
35698,TE LLEVO CONMIGO SUB,B,NaN
36053,DEMON SLAYER: MUGEN TRAIN LA PELÍCULA 4DX/2D SUB,B,NaN
36053,DEMON SLAYER: MUGEN TRAIN LA PELÍCULA P 4DX/2D...,B,NaN
36433,EL PLAN DIVINO ESP,B,NaN
36434,LA VERDAD LED SUB,B,NaN
36450,SIN SEÑAS PARTICULARES SP ESP,B15,NaN
36451,SIN SEÑAS PARTICULARES LED ESP,B15,NaN
36556,LA VISITA ESP,B15,NaN
36580,TERRITORIO SP ESP,B15,NaN
36629,SPACE JAM: UNA NUEVA ERA LED ESP,A,NaN
36650,LITTLE GIRL SUB,A,NaN

In [ ]:
halo['FECHA_CREACION'] = today

In [ ]:
halo

,ID_PELICULA,TX_PELICULA,CV_CLASIFICACION,FECHA_CREACION
0,36580,TERRITORIO SP ESP,B15,2022-12-07
1,36650,LITTLE GIRL SUB,A,2022-12-07
2,36629,SPACE JAM: UNA NUEVA ERA LED ESP,A,2022-12-07
3,36556,LA VISITA ESP,B15,2022-12-07
4,36450,SIN SEÑAS PARTICULARES SP ESP,B15,2022-12-07
...,...,...,...,...
130,5611,LA DUQUESA,B15,2022-12-07
131,5612,CHE EL ARGENTINO,A,2022-12-07
132,5851,PERSIGUIENDO UN SUEÑO DOB,A,2022-12-07
133,5866,MARLEY Y YO SUB,A,2022-12-07
134,5637,ORIGINALMENTE PIRATA,A,2022-12-07

In [ ]:
ejemplo

,TX_PELICULA_t,CV_CLASIFICACION_t,FECHA_CREACION
ID_PELICULA,,,
3423,PERSIGUIENDO UN SUEÑO SUB,A,2022-12-07
3502,PERSIGUIENDO UN SUEÑO DOB,A,2022-12-07
3600,MORTAL KOMBAT 4DX/SCREENX/2D ESP,TBC,2022-12-07
3858,PERSIGUIENDO UN SUEÑO,A,2022-12-07
3873,EL JUEGO DEL MIEDO 3,C,2022-12-07
...,...,...,...
36451,SIN SEÑAS PARTICULARES LED ESP,B15,2022-12-07
36556,LA VISITA ESP,B15,2022-12-07
36580,TERRITORIO SP ESP,B15,2022-12-07
36629,SPACE JAM: UNA NUEVA ERA LED ESP,A,2022-12-07
36650,LITTLE GIRL SUB,A,2022-12-07

In [ ]:
ejemplo['FECHA_CREACION'] =='NaN'

ID_PELICULA
3423     False
3502     False
3600     False
3858     False
3873     False
         ...
36451    False
36556    False
36580    False
36629    False
36650    False
Name: FECHA_CREACION, Length: 137, dtype: bool

In [ ]:
ejemplo.tail()

,TX_PELICULA_t,CV_CLASIFICACION_t,FECHA_CREACION
ID_PELICULA,,,
36451,SIN SEÑAS PARTICULARES LED ESP,B15,NaN
36556,LA VISITA ESP,B15,NaN
36580,TERRITORIO SP ESP,B15,NaN
36629,SPACE JAM: UNA NUEVA ERA LED ESP,A,NaN
36650,LITTLE GIRL SUB,A,NaN

In [ ]:
ejemplo.to_csv('PUTOS_TODOS.csv')